/vendor/
/node_modules/

# Laravel specific
/public/storage
/storage/*.key
.env
.env.backup
Homestead.yaml
Homestead.json

# Laravel Mix
/public/hot
/public/mix-manifest.json

# IDE files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# NPM debug log
npm-debug.log
yarn-error.log

# Composer
composer.lock

# Logs
/storage/logs/*.log
